@property --presentation-color {
    syntax: '<color>';
    inherits: false;
    initial-value: white;
}
@property --on-presentation-color {
    syntax: '<color>';
    inherits: false;
    initial-value: white;
}
@property --alpha {
    syntax: '<number>';
    inherits: false;
    initial-value: 1;
}
@property --button-color {
    syntax: '<color>';
    inherits: false;
    initial-value: white;
}

.colorPresentation {
    border-radius: 5px;
    background-color: oklab(from var(--presentation-color) l a b / var(--alpha));
    color: var(--on-presentation-color);
    position: relative;


    code {
        background-color: transparent;
    }

    &::before {
        position: absolute;
        inset: 0;
        content: '';
        border-radius: inherit;
        background-image: radial-gradient(circle, black 1px, white 1px);
        background-size: 30px 30px;
        z-index: -1;
    }
}

.hexPresentation {
    font-size: 3rem;
    font-weight: 700;
    position: absolute;
    inset: 0;
}

.colorPresentationCompact {
    border-radius: 3px;
    background-color: var(--presentation-color);
    cursor: pointer;
}

.colorFilterButton {
    border-radius: 999vh;
}

.red {
    background-color: oklch(from red l 0.18 h);
}

.green {
    background-color: oklch(from green l 0.18 h);
}

.blue {
    background-color: oklch(from blue l 0.18 h);
}

.grayscale {
    background: linear-gradient(to right,
    oklch(0.2 0 0) 50%,
    oklch(0.95 0 0) 50%);
    outline: 1px solid oklch(0.6 0 0);
    outline-offset: -1px;
}

.active {
    outline: 2px solid var(--success-color);
}
