@layer elements {
    @scope (.aperture) to (.notAperture) {
        :where(i),
        i.medium {
            font-size: 1.25em;
        }

        i.large {
            font-size: 1.5em;
        }

        i.xlarge {
            font-size: 2em;
        }

        i.small {
            font-size: 1em;
        }

        i {
            &.small {
                font-variation-settings: "FILL" 0, "wght" 420, "GRAD" -25, "opsz" 20;
            }

            &.large {
                font-variation-settings: "FILL" 0, "wght" 400, "GRAD" -25, "opsz" 32;
            }

            &.xlarge {
                font-variation-settings: "FILL" 0, "wght" 380, "GRAD" -25, "opsz" 40;
            }
        }
    }
}
