

@layer elements {
    @scope (.minimal) to (.notMinimal) {
        article {

        :where(&), &.flat, &.elevated {
            background-color: var(--current-color);
            color: var(--on-current-color);
        }

        :where(&), &.elevated {
            box-shadow:
                    0 8px 12px -1px var(--shadow-color),
                    0 4px 6px -1px var(--shadow-color);
        }

        :where(&.flat) {
            box-shadow: none;
        }

        :where(& &), &.outlined {
            --current-color: var(--active-color, var(--primary-color));
            --on-current-color: var(--on-active-color, var(--on-primary-color));

            background-color: transparent;
            color: inherit;

            border: 1px solid color-mix(in oklab, var(--current-color) 50%, transparent);
            box-shadow: none;
        }

        &[role="button"]:hover,
        &[role="button"]:focus-visible {
            box-shadow:
                    0 4px 10px -1px var(--shadow-color);
        }

        &[aria-selected="false"] {
            opacity: 0.7;
            background-color: oklab(from var(--current-color) calc(l*93%) a b);
        }

        &[aria-selected="true"],
        &.active {
            outline: 2px solid color-mix(in oklab, var(--active-color, var(--accent-color)) 50%, transparent);
            outline-offset: 2px;
        }

        &.tonal, &.highlighted {
            --current-color: var(--active-color, var(--primary-color));
            --on-current-color: var(--on-active-color, var(--on-primary-color));

            border: none;
            background-color: color-mix(in oklab, var(--current-color) 10%, transparent);
            color: var(--current-color);
            box-shadow: none;

        }

        &.inset {
            --current-color: var(--active-color, var(--background-color));
            --on-current-color: var(--on-active-color, var(--on-background-color));

            border: none;
            background-color: var(--current-color);
            box-shadow: inset 0 2px 4px -1px var(--shadow-color),
            inset 0 1px 2px -1px var(--shadow-color);
        }

        &.highlighted {
            border: none;
            box-shadow: none;
            position: relative;

            padding-left: 2.5rem;

            &::before {
                content: "";
                position: absolute;
                left: 1rem;
                top: 0.75rem;
                bottom: 0.75rem;
                width: 0.4rem;
                border-radius: 999px;
                background-color: var(--current-color);
                z-index: 1;
            }
        }

        &.text {
            border: none;
            box-shadow: none;
            background-color: transparent;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            /*color: inherit;*/
            color: color-mix(in oklab, currentColor 50%, var(--on-current-color));

            &[role="button"]:hover {
                box-shadow: none;
                background-color: color-mix(in oklab, var(--current-color) 10%, transparent);
                color: inherit;
            }
        }

        > hgroup,
        > h3 {
            color: var(--accent-color);
        }

        > footer {
            color: oklab(from currentColor l a b / 0.75);
        }
    }
    }
}
