

@layer base {
    article, .card {
        border-radius: 1rem;
        background-repeat: no-repeat;
        padding: 1rem;
    }

    .surface {
        background-color: var(--surface-color);
    }
}

@layer elements {
    article, .card {
        transition: box-shadow 0.2s ease-in-out;

        :where(&), &.flat, &.elevated {
            --current-color: var(--active-color, var(--surface-color));
            --on-current-color: var(--on-active-color, var(--on-surface-color));

            background-color: var(--current-color);
            color: var(--on-current-color);
        }

        :where(&), &.elevated {
            box-shadow:
                    0 8px 12px -1px var(--shadow-color),
                    0 4px 6px -1px var(--shadow-color);
        }

        :where(&.flat) {
            box-shadow: none;
        }

        :where(& &), &.outlined {
            --current-color: var(--active-color, var(--primary-color));
            --on-current-color: var(--on-active-color, var(--on-primary-color));

            border: 1px solid color-mix(in oklab, var(--current-color) 50%, transparent);
            box-shadow: none;
        }

        &[role="button"]:hover {
            box-shadow:
                    0 4px 10px -1px var(--shadow-color);
        }

        &.tonal, &.highlighted {
            --current-color: var(--active-color, var(--primary-color));
            --on-current-color: var(--on-active-color, var(--on-primary-color));

            border: none;
            background-color: color-mix(in oklab, var(--current-color) 10%, transparent);
            color: var(--current-color);
            box-shadow: none;

        }

        &.inset {
            --current-color: var(--active-color, var(--background-color));
            --on-current-color: var(--on-active-color, var(--on-background-color));

            border: none;
            background-color: var(--current-color);
            box-shadow: inset 0 2px 4px -1px var(--shadow-color),
            inset 0 1px 2px -1px var(--shadow-color);
        }

        &.highlighted {
            border: none;
            box-shadow: none;
            position: relative;

            padding-left: 2.5rem;

            &::before {
                content: "";
                position: absolute;
                left: 1rem;
                top: 0.75rem;
                bottom: 0.75rem;
                width: 0.4rem;
                border-radius: 999px;
                background-color: var(--current-color);
                z-index: 1;
            }
        }
    }
}
