
@layer elements {
    @scope (.minimal) to (.notMinimal) {
        i,
        i.medium {
            font-size: 1.3em;
        }

        i.large {
            font-size: 1.5em;
        }

        i.xlarge {
            font-size: 2em;
        }

        i.small {
            font-size: 1em;
        }
    }
}
