@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v275/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

@layer elements {
    @scope (body) to (.notMinimal) {
        i,
        i.medium {
            font-size: 1.3em;
        }

        i.large {
            font-size: 1.5em;
        }

        i.xlarge {
            font-size: 2em;
        }

        i.small {
            font-size: 1em;
        }
    }
}
