

@layer elements {
    input-shell {
        & input, & select, & textarea, &::part(default-control) {
            border: none;
            outline: none;
            padding: 0;
            background-color: transparent;
            min-height: 100%;
            width: 100%;

            &:focus-visible {
                outline: none;
            }
        }
    }

    /*noinspection CssInvalidHtmlTagReference*/
    form-field {
        output {
            color: var(--error-color);
            min-height: 1lh;
            display: block;
        }
    }

    @scope (.minimal) to (.notMinimal) {
        input:not([type=radio]):not([type=checkbox]):not([type=range]):not([type=color]):not([type=file]):not([type=image]):not([type=button]):not([type=submit]):not([type=reset]),
        textarea, select, input-shell {
            border-radius: 0.5rem;

            :where(&), &.flat {
                background-color: var(--on-current-color);
                color: var(--current-color);
                outline: none;
            }

            :where(article &), &.outlined {
                --outline-color: oklab(from var(--current-color) 70% a b);
                outline: 1px solid var(--outline-color);
                background-color: transparent;
            }

            &.elevated {
                box-shadow:
                        0 3px 8px -1px var(--shadow-color);
                outline: none;
            }


            :where(form.tonal &), &.tonal {
                border: none;
                box-shadow: none;
                outline: 1px solid color-mix(in oklab, var(--current-color) 40%, transparent);
                background-color: color-mix(in oklab, var(--current-color) 10%, transparent);
            }

            &:focus-visible,
            &:focus-within {
                outline: 2px solid color-mix(in oklab, var(--current-color) 50%, transparent);
                outline-offset: 2px;
            }

            &:invalid,
            &[aria-invalid="true"] {
                outline-color: var(--error-color);
            }
        }

        /*noinspection CssInvalidHtmlTagReference*/
        input-shell:has(input:invalid),
        input-shell:has(textarea:invalid),
        input-shell:has(select:invalid),
        input-shell[aria-invalid="true"] {
            outline: 1px solid var(--error-color) !important;
        }

        /*noinspection CssInvalidHtmlTagReference*/
        label:has(+ input[required])::after,
        label:has(+ textarea[required])::after,
        label:has(+ select[required])::after,
        label:has(+ input-shell [required])::after {
            content: " *";
            color: var(--error-color);
        }
    }
}
