
@layer base {
    [popover][role="menu"], [popover].menu {
        position: fixed;
        margin: 0;
        border: none;

        &::backdrop {
            background: transparent;
        }
    }


}
