/*
 * Overlay elements: Popover Menu and Dialog.
 */

@layer elements {
    @scope (.minimal) to (.notMinimal) {
        [popover][role="menu"],
        [popover].menu {
            border-radius: 0.5rem;
            background-color: var(--surface-color);
            color: var(--on-surface-color);
            box-shadow:
                0 8px 12px -1px var(--shadow-color),
                0 4px 6px -1px var(--shadow-color);
        }

        dialog {
            z-index: 1000;
        }

        dialog::backdrop {
            background: oklab(from black l a b / 0.35);
            z-index: 999;
        }
    }
}
