@import "../reset.css";
@import "./button.css";
@import "./text.css";
@import "./card.css";
@import "./input.css";
@import "./list.css";
@import "./icon.css";
@import "./loader.css";
@import "./popover.css";

@layer defaults {

    .minimalTheme.light {
        --primary-color: #202020;
        --on-primary-color: white;

        --secondary-color: #3d3846;
        --on-secondary-color: white;

        --surface-color: #f6f5f4;
        --on-surface-color: var(--primary-color);

        --background-color: #d9d7d2;
        --on-background: black;

        --success-color: #26a269;
        --on-success-color: white;

        --warning-color: #f5c211;
        --error-color: #c01c28;

        --shadow-color: oklab(from black l a b / 0.3);

        color-scheme: light;
    }


    .primary {
        --active-color: var(--primary-color);
        --on-active-color: var(--on-primary-color);
    }

    .secondary {
        --active-color: var(--secondary-color);
        --on-active-color: var(--on-secondary-color);
    }

    .success {
        --active-color: var(--success-color);
        --on-active-color: var(--on-primary-color);
    }

    .surface {
        --active-color: var(--surface-color);
        --on-active-color: var(--on-surface-color);
    }

    html {
        background: var(--background-color);
        background-size: cover;
    }

    #app .pageNav, #app .themeSettings {
        background-color: var(--surface-color);
        color: var(--on-surface-color);
        border-right: 1px solid var(--shadow-color);
    }

    #app .themeSettings {
        box-shadow: 8px 0 12px -1px var(--shadow-color);
    }
}
